@import '../reset';
@import '../normalize';
@import '../variables';
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

@mixin center-button {
	.centerButton {
		height: 40%;
		background: linear-gradient(165deg, $c-red-light, $c-red-light 50%, $c-blue-light 52%);
		display: grid;
		grid-template-rows: 100%;
		justify-content: center;
		align-items: center;
		
		canvas {
			position: relative;
			height: 100% !important;
			display: block;
		}

		p {
			color: white;
			text-shadow: 2px 2px 5px black;
			font-family: Anton;
			position: absolute;
			left: calc(50% - 48px);
			font-weight: 800;
			font-size: 64px;
		}

		button {
			background-color: transparent;
			border: none;
		}

	}
}

body {
	overflow: hidden;
}

main {
	.firstScreen {
		height: calc(100vh - 75px);

		.two-player {
			height: 100%;
			display: flex;
			justify-content: space-evenly;
			flex-direction: column;

			form {
				height: 100%;
				display: flex;
				flex-direction: column;
				justify-content: space-between;

				input {
					border-radius: 20px;
					border: 1px solid black;
					margin: auto;
					justify-self: center;
					padding: 20px 50px;
				}

				.upper {
					background-color: $c-red-light;
					display: inherit;
					height: 30%;

				}

				@include center-button();

				.lower {
					background-color: $c-blue-light;
					display: inherit;
					height: 30%;
				}
			}
		}

		.arrow-down {
			background-color: $c-blue-light;
			width: 100%;

			img {
				margin: auto;
				width: 100px;
			}
		}
	}
	


	.secondScreen {
		height: 100vh;
		background-color: $c-red-light;

		.arrow-up {
			width: 100%;

			img {
				transform: rotate(180deg);
				margin: auto;
				width: 100px;
			}
		}
		.four-player {
			background-color: $c-blue-light;
			height: calc(100% - 100px);
			padding-bottom: 100px;
			form {
				height: 100%;
				display: flex;
				flex-direction: column;
				justify-content: space-between;

				input {
					border-radius: 15px;
					border: 1px solid black;
					margin: 10px auto;
					justify-self: center;
					padding: 10px 30px;
				}
				
				.upper {
					background-color: $c-red-light;
					display: inherit;
					justify-content: center;
					flex-direction: column;
					height: 30%;
				}

				@include center-button();

				.lower {
					background-color: $c-blue-light;
					display: inherit;
					flex-direction: column;
					height: 30%;
					padding-bottom: 100px;
				}
			}
		}

	}
}