@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Delicious+Handrawn&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

img,
picture,
video,
canvas {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol {
  list-style: none;
}

html {
  width: 100vw;
}

body {
  background-color: #A2DAE0;
  font-family: "Delicious Handrawn";
  overflow: hidden;
  width: 100%;
}

header {
  position: sticky;
  top: 0;
}
header nav {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: #ED0101;
  font-size: 23px;
}
header nav a {
  color: white;
  background-color: transparent;
  border: none;
  border-right: 2px solid white;
  padding: 20px 25px;
}
header nav a:last-child {
  border: none;
}

main {
  background-color: #0E49B5;
}
main .firstScreen {
  height: calc(100vh - 68px);
}
main .firstScreen .two-player {
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
}
main .firstScreen .two-player form {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
main .firstScreen .two-player form input {
  border-radius: 20px;
  border: 1px solid black;
  margin: auto;
  justify-self: center;
  padding: 20px 50px;
}
main .firstScreen .two-player form .upper {
  background-color: #ED0101;
  display: inherit;
  height: 30%;
}
main .firstScreen .two-player form .centerButton {
  height: 40%;
  background: linear-gradient(165deg, #ED0101, #ED0101 50%, #0E49B5 52%);
  display: grid;
  grid-template-rows: 100%;
  justify-content: center;
  align-items: center;
}
main .firstScreen .two-player form .centerButton canvas {
  position: relative;
  height: 100% !important;
  display: block;
}
main .firstScreen .two-player form .centerButton p {
  color: white;
  text-shadow: 2px 2px 5px black;
  font-family: Anton;
  position: absolute;
  left: calc(50% - 48px);
  font-weight: 800;
  font-size: 64px;
}
main .firstScreen .two-player form .centerButton button {
  background-color: transparent;
  border: none;
}
main .firstScreen .two-player form .lower {
  display: inherit;
  height: 30%;
}
main .firstScreen span {
  background-color: #0E49B5;
  width: 100%;
}
main .firstScreen span a {
  background-color: #0E49B5;
}
main .firstScreen span img {
  background-color: #0E49B5;
  margin: auto;
  width: 100px;
}
main .secondScreen {
  height: calc(100vh - 68px);
}
main .secondScreen .four-player {
  height: 100%;
}
main .secondScreen .four-player form {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
main .secondScreen .four-player form input {
  border-radius: 15px;
  border: 1px solid black;
  margin: 10px auto;
  justify-self: center;
  padding: 10px 30px;
}
main .secondScreen .four-player form .upper {
  background-color: #ED0101;
  display: inherit;
  justify-content: center;
  flex-direction: column;
  height: 30%;
}
main .secondScreen .four-player form .centerButton {
  height: 40%;
  background: linear-gradient(165deg, #ED0101, #ED0101 50%, #0E49B5 52%);
  display: grid;
  grid-template-rows: 100%;
  justify-content: center;
  align-items: center;
}
main .secondScreen .four-player form .centerButton canvas {
  position: relative;
  height: 100% !important;
  display: block;
}
main .secondScreen .four-player form .centerButton p {
  color: white;
  text-shadow: 2px 2px 5px black;
  font-family: Anton;
  position: absolute;
  left: calc(50% - 48px);
  font-weight: 800;
  font-size: 64px;
}
main .secondScreen .four-player form .centerButton button {
  background-color: transparent;
  border: none;
}
main .secondScreen .four-player form .lower {
  display: inherit;
  flex-direction: column;
  height: 30%;
}/*# sourceMappingURL=index.css.map */