@import url(./reset.css);
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

$c-blue-dark: #06065D;
$c-blue-light: #0E49B5;
$c-neutral: #A2DAE0;
$c-red-light: #ED0101;
$c-red-dark: #A70107;

.firstScreen {
	width: 100vw;
	height: 100vh;
	form {
		height: 100%;
	}
	canvas {
		height: 100%;
	}
}

body {
	background-color: $c-neutral;
	font-family: "Delicious Handrawn";
	display: grid;
}

header {

	max-width: 480px;
	nav {
		width: 100%;
		display: flex;
		justify-content: center;
		background-color: $c-red-light;
		font-size: 23px;
		button {
			color: white;
			background-color: transparent;
			border: none;
			border-right: 2px solid white;
			padding: 20px 25px;
			margin: 15px 0px;
		}
		button:last-child {
			border: none;
		}
	}
}


main {
	
	background-color: $c-blue-light;
	.firstScreen {
		height: calc(100vh - 98px);
		// height: calc(100vh - 198px);
		display: flex;
		flex-direction: column;

		.two-player {
			form {
				height: 100%;
				display: flex;
				flex-direction: column;
				justify-content: space-between;

				.upper {
					background-color: $c-red-light;
					display: inherit;
					height: 30%;

					input {
						border-radius: 15px;
						border: 1px solid black;
						margin: auto;
						justify-self: center;
						padding: 10px 30px;
					}
				}

				.centerButton {
					height: 40%;
					background: linear-gradient(165deg, $c-red-light, $c-red-light 50%, $c-blue-light 52%);
					display: grid;
					grid-template-rows: 100%;
					justify-content: center;
					align-items: center;
					
					canvas {
						position: relative;
						height: 100% !important;
						display: block;
					}

					p {
						color: white;
						text-shadow: 2px 2px 5px black;
						font-family: Anton;
						position: absolute;
						left: calc(50% - 48px);
						font-weight: 800;
						font-size: 64px;
					}

					button {
						background-color: transparent;
						border: none;
					}

				}

				.lower {
					display: inherit;
					height: 30%;
					
					input {
						border-radius: 15px;
						border: 1px solid black;
						margin: auto;
						justify-self: center;
						padding: 10px 30px;
					}
				}
			}
		}

		span {
			background-color: $c-blue-light;
			width: 100%;

			a {
				background-color: $c-blue-light;
			}

			img {
				background-color: $c-blue-light;
				margin: auto;
				width: 100px;
			}
		}
	}

	.secondScreen {
		height: 100vh;

		.four-player {
			height: 100%;
			form {
				height: 100%;
				display: flex;
				flex-direction: column;
				justify-content: space-between;

				.upper {
					background-color: $c-red-light;
					display: inherit;
					height: 30%;

					input {
						border-radius: 15px;
						border: 1px solid black;
						margin: auto;
						justify-self: center;
						padding: 10px 30px;
					}
				}

				.centerButton {
					height: 40%;
					background: linear-gradient(165deg, $c-red-light, $c-red-light 50%, $c-blue-light 52%);
					display: grid;
					grid-template-rows: 100%;
					justify-content: center;
					align-items: center;
					
					canvas {
						position: relative;
						height: 100% !important;
						display: block;
					}

					p {
						color: white;
						text-shadow: 2px 2px 5px black;
						font-family: Anton;
						position: absolute;
						left: calc(50% - 48px);
						font-weight: 800;
						font-size: 64px;
					}

					button {
						background-color: transparent;
					}

				}

				.lower {
					display: inherit;
					height: 30%;
					
					input {
						border-radius: 15px;
						border: 1px solid black;
						margin: auto;
						justify-self: center;
						padding: 10px 30px;
					}
				}
			}
		}

	}
}